<h2>新規会員登録</h2>

<%= form_with model: @customer, url: new_customer_registration_path, local: true do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :（姓） %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "姓" %>
  </div>

  <div class="field">
    <%= f.label :（名） %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "名" %>
  </div>

  <div class="field">
    <%= f.label :（セイ） %><br />
    <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "セイ" %>
  </div>

    <div class="field">
    <%= f.label :（メイ） %><br />
    <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "メイ" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "customers/shared/links" %>
