<% provide(:title, "ホーム") %>
<div class="container">
  <div class="row">

      <table class="col-2 table table-bordered table-hover text-dark">
        <thead>
          <th>ジャンル検索</th>
        </thead>

        <tbody>
          <% @genres.first(5).each do |genre| %>
            <tr>
              <!--↓ジャンル名での検索機能は実装してないので商品一覧に遷移します。-->
              <td><p><%= link_to genre.name, products_path, class:"link" %></p></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="col-1"></div>

      <div class="col-9 introduction-box align-items-center d-flex justify-content-center" >
        <tbody>
          <h4><strong>
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </strong></h4>
        </tbody>
      </div>
  </div>


        <div class ="row">
          <div class="col-3"></div>
            <div class="col-9">
              <h2>新着商品</h2>
            </div>
        </div>

      <div class="row">
        <div class="col-3"></div>
          <tbody>
            <% @products.first(4).each do |product| %>
              <tr>
                <div class="col-2">
                  <%= link_to products_show_path(product.id), class:"link" do %>
                      <span>
                        <%= attachment_image_tag product, :image,size: "150x150" %><br>
                        <%= product.name %><br>
                        <%= product.tax_out_price %>円(税抜)<br>
                      </span>
                  <% end %>
                </div>
              </tr>
            <% end %>
          </tbody>
      </div>

          <div class="row">
            <div class="col-10"></div>
              <div class="col-2">
    			      <%= link_to "もっと見る", products_path, class:"link" %>
    			    </div>
    			</div>


      </div>
</div>