 <div class='container'>

  <div class='row'>
    <h5 style="background-color:#DCDCDC; display: inline;">注文履歴一覧</h5>

    <% if @orders.present? %>
    <table border="1"  width="100%" cellpadding="6" cellspacing="0">
        <tr>
            <th width="10%">注文日</th>
            <th width="50%">配送先</th>
            <th width="10%">注文商品</th>
            <th width="10%">支払金額</th>
            <th width="10%">ステータス</th>
            <th width="10%">注文詳細</th>
        </tr>


        <% @orders.each do |order| %>
      　　<tr>
        　　<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        　　<td><%= order.address_name %></td>
            <td>
            <% @order_details.each do |order_detail| %>
             <p><%= order_detail.product.name %></p>
            <% end %>
            </td>
            <td><%= order.total_price %></td>
            <td><%= order.orders_status %></td>
            <td></td>
          </tr>
        <% end %>

    </table>

     <% else %>
      <p>注文履歴がありません。</p>
     <% end %>

  </div>


</div>
