 <div class="row">
    <div class="col-lg-2" ></div>
    <div class="col-lg-8">

    <div class="row subtitle justify-content-center">
      <h5><strong>注文情報確認</strong></h5>
    </div>


    <table border="1"  width="100%" cellpadding="6" cellspacing="0">
        <tr>
            <th width="50%" bgcolor="#EEEEEE">商品名</th>
            <th width="20%" bgcolor="#EEEEEE">単価（税込）</th>
            <th width="10%" bgcolor="#EEEEEE">数量</th>
            <th width="20%" bgcolor="#EEEEEE">小計</th>
        </tr>


        <tr>
           <% @cart_items.each do |cart_item| %>
           <td><%= attachment_image_tag cart_item.product, :image,size: "50x30" %>  <%= cart_item.product.name %></td>
           <td><%= cart_item.product.add_tax_tax_out_price.to_s(:delimited) %>円</td>
           <td><%= cart_item.quantity %>個
           </td>
           <td><%= (cart_item.product.add_tax_tax_out_price.to_i*cart_item.quantity).to_s(:delimited) %>円</td>
           <% @count += cart_item.product.add_tax_tax_out_price.to_i*cart_item.quantity  %>
        </tr>
        <% end %>
    </table>

    <p></p>

    <table border="1"  width="40%" cellpadding="6" cellspacing="0">
      <tr>
       <th width="50%" bgcolor="#EEEEEE">送料</th>
       <td width="50%">800円</td>
      </tr>

      <tr>
       <th width="50%" bgcolor="#EEEEEE">商品合計</th>
       <td width="50%"><%= @count.to_s(:delimited) %>円</td>
      </tr>

      <tr>
       <th width="50%" bgcolor="#EEEEEE">請求金額</th>
       <td width="50%">

        <% @count += 800 %>
        <%= @count.to_s(:delimited) %>円

      </tr>

    </table>

<p></p>


<h6><strong>支払方法</strong></h6>
<%= @order.payment_method %>
<h6><strong>お届け先</h6>
〒<%= @order.postage %>
<%= @order.shipping_address %>
<%= @order.address_name %>
<div style="text-align:center">

 <%= form_with model: @order, url: orders_path, local: true do |f| %>
 <%= f.hidden_field :address_name, value: @order.address_name %>
 <%= f.hidden_field :shipping_address, value: @order.shipping_address %>
 <%= f.hidden_field :shipping_postal_code, value: @order.postage %>
 <%= f.hidden_field :total_price, value: @count %>
 <%= f.hidden_field :customer_id, value: current_customer.id %>
 <%= f.submit "注文を確定する" ,class: "btn btn-outline-success" %>
 <% end %>
 </div>
</div>
</div>


