<div class='container'>
  <h2>注文履歴詳細</h2>
  <div class='row'>
    <div class="col-md-12">
      <div class="col-md-3">
        購入者
      </div>
      <div class="col-md-9">
        <%= order.address_name %>
      </div>
      <div class="col-md-3">
        注文日
      </div>
      <div class="col-md-9">
        <%= order.created_at %>
      </div>
      <div class="col-md-3">
        配送先
      </div>
      <div class="col-md-3">
        <%= order.shipping_postal_code %>
        <%= order.shipping_address %>
      </div>
      <div class="col-md-3">
        支払方法
      </div>
      <div class="col-md-9">
        <%= order.payment_method %>
      </div>
      <div class="col-md-3">
       注文ステータス
      </div>
      <div class="col-md-9">
        <%= order.orders_status %>
      </div>
      <div class="col-md-7">
        <table class="table striped">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td class="text-left" ><%= order.name %></td>
              <td class="text-right col-xs-1"><%= order.purchased_price %></td>
              <td class = "text-right col-xs-3"><%= order.quantity %></td>
              <td class = "text-right col-xs-1"><%= order. %></td>
              <td class = "text-right col-xs-3">
              <%　if product.sales_status == TRUE %>
                 <p>販売中</p>
              <% else　product.sales_status == FALSE　%>
              　 <p>販売停止中</p>
              <% end %>
              </td>
            </tr>
        </tbody>
        </table>
        <div class="col-md-7">
          <div>
            <p>商品合計</p>

          </div>
          <div>
            <P>送料</p>
            <%= order.postage %>
          </div>
          <div>
            <P>請求金額合計</p>
            <%= order.total_price %>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>


