<div class='container'>
  <h2 style="background-color:#DCDCDC; display: inline;">注文履歴詳細</h2>
  <div class='row'>
    <%= form_with model: @order, url:admin_top_path(@order) local:true do |f| %>
    <tr class="col-md-12">
      <div class="col-md-3">
        購入者<br>
        注文日<br>
        配送先<br>
        <th></th><br>
        支払方法<br>
        注文ステータス
      </div>
      <div class="col-md-9">
        <%= @order.address_name %><br>
        <%= @order.created_at %><br>
        <%= @order.shipping_postal_code %> <%= @order.shipping_address %><br>
        <%= @order.address_name %><br>
        <%= @order.payment_method %><br>
        <%= f.select :orders_status, Order, :orders_status, class "orders_status", include_blank: "-- 選択してください --" %>
        <%= link_to "更新", admin_top_path(@order), class: "btn btn-success"%>
      </div>
    </tr>
    <tr class="col-md-12">
      <div class="col-md-7">
        <table class="table striped">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% total_price = 0 %>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td class="text-left" ><%= order_detail.name %></td>
              <td class="text-left"><%= order_detail.purchased_price %></td>
              <td class = "text-left"><%= order_detail.quantity %></td>
              <td class = "text-left"><%= order_detail.sum_of_purchased_price.to_s(:delimited) %>
              <% total_price += order_detail.sum_of_purchased_price %>
              </td>
              <td class = "text-left">
                <%= f.select :production_status, Order_detail, :production_status, class "production_status", include_blank: "-- 選択してください --" %>
              </td>
              <td>
                <%= link_to "更新", admin_top_path(@order), class: "btn btn-success"%>
              </td>
            </tr>
            <% end %>
        </tbody>
        </table>
        </div>
        <div class="col-md-5">
          <div>
            <p>商品合計</p>
            <%= total_price %>
          </div>
          <div>
            <p>送料</p>
            <%= @order.postage %>
          </div>
          <div>
            <P>請求金額合計</p>
            <% @order.total_price = total_price + @order.postage %>
            <%= @order.total_price %>
          </div>
        </div>
    </tr>
  </div>
</div>
