<div class='container'>
  <div class="row subtitle">
  <h3 style="display: inline;"><strong>注文履歴詳細</strong></h3>
  </div>
  <div class='row'>
    <tr class="col-md-12">
      <div class="col-md-3">
        <strong>購入者</strong><br>
        <strong>注文日</strong><br>
        <strong>配送先</strong><br>
        <th></th><br>
        <th></th><br>
        <strong>支払方法</strong><br>
        <strong>注文ステータス</strong>
      </div>
      <div class="col-md-9">
        <%= link_to @order.address_name, admin_customer_path(@order.customer) , class: "link" %><br>
        <%= @order.created_at.strftime('%Y/%m/%d') %><br>
        〒<%= @order.shipping_postal_code %><br>
        <%= @order.shipping_address %><br>
        <%= @order.address_name %><br>
        <%= @order.payment_method %><br>
         <%= form_with model: @order, url:admin_orders_update_path(@order), method: :patch, local:true do |f| %>
        <%= f.select :orders_status, Order.orders_statuses.keys, {}, {class: "orders_status"} %>
        <%= f.submit "更新", class: "btn btn-success"%>
        <% end %>
      </div>
    </tr>


    <tr class="col-md-12">
      <div class="col-md-7">
        <table class="table striped">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% total_price = 0 %>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td class="text-left" ><%= order_detail.product.name %></td>
              <td class="text-left">
              <% @product_price = order_detail.product.tax_out_price * 1.1 %>
              ¥<%= @product_price.floor.to_s(:delimited) %>
              </td>
              <td class = "text-left"><%= order_detail.quantity %></td>
              <td class = "text-left">
                <% @all_price = @product_price * order_detail.quantity %>
                ¥<%= @all_price.floor.to_s(:delimited) %>
                <% total_price += @all_price %>
              </td>
               <%= form_with model: order_detail, url:admin_order_details_update_path(order_detail), method: :patch, local:true do |f| %>
              <td class = "text-left">
                <%= f.hidden_field :order_id, :value => @order.id %>
                <%= f.select :production_status, OrderDetail.production_statuses.keys.map{|k| [I18n.t("enums.order_detail.production_status.#{k}"),k]}, {class: "production_status"} %>
                <%#= f.collection_select :production_status, { 製作不可: 0, 製作待ち: 1, 製作中: 2, 製作完了: 3 }, {}, {class: "production_status"} %>
                <%= f.submit "更新", class: "btn btn-success" %>
              </td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
        </table>
        </div>

        <div class="col-md-5">
          <div>
            <strong>商品合計</strong><br>
            ¥<%= total_price.floor.to_s(:delimited) %>
          </div>
          <div>
            <strong>送料</strong><br>
            ¥<%= @order.postage %>
          </div>
          <div>
            <strong>請求金額合計</strong><br>
            <% @order.total_price = total_price + @order.postage %>
            ¥<%= @order.total_price %>
          </div>
        </div>
    </tr>
  </div>
 </div>
