<div class='container'>
  <div class="row subtitle">
    <h3 style="display: inline;">注文履歴一覧</h3>
  </div>

  <div class='row subtitle'>
    <table class="table striped">
      <thead>
        <tr>
          <th bgcolor="#EEEEEE">購入日時</th>
          <th bgcolor="#EEEEEE">購入者</th>
          <th bgcolor="#EEEEEE">注文個数</th>
          <th bgcolor="#EEEEEE">注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td class="text-left"><%= link_to order.created_at.strftime('%Y/%m/%d'), admin_orders_show_path(order), class: "link" %></td>
            <td class="text-left"><%= link_to order.address_name, admin_customer_path(order.customer), class: "link" %></td>
            <td class="text-left" >
              <%= order.order_details.sum(:quantity) %>
              </td>
            <td class="text-left" >
            <%= order.orders_status %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <%= paginate @orders %>
    </table>
  </div>



