<div class='container'>
  <h3 style="background-color:#DCDCDC; display: inline;">注文履歴一覧</h3>
  <div class='row'>
    <table class="table striped">
      <thead>
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td class="text-left"><%= link_to order.created_at.strftime('%Y/%m/%d'), admin_orders_show_path(order), class: "link" %></td>
            <td class="text-left"><%= order.address_name %></td>
            <td class="text-left" >
              <%= order.order_details.sum(:quantity) %>
              </td>
            <td class="text-left" >
            <%= order.orders_status %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <%= paginate @orders %>
    </table>
  </div>

