<div class = "container">
  <div class = "row">
  <div class="col-lg-4 col-lg-offset-2">
  <%= attachment_image_tag @product, :image ,size: "300x200" %>
  </div>
  
  <div class="col-lg-6">
  <h4><strong><%= @product.name %></strong></h4>
  <h5><%= @product.description %></h5>
  <h5>¥ <%= @product.tax_out_price.to_s(:delimited) %>（税込）</h5>
  </div>

  <%= f.select :quantity, options_for_select((1..10).to_a), include_blank: "個数選択" %>
  <%= f.submit "カートに入れる", class: "glyphicon glyphicon-shopping-cart btn btn-primary" %>
 </div>
</div>


