<div class = "container">
  <div class = "row">
  <div class="col-lg-4 col-lg-offset-2">
  <%= attachment_image_tag @product, :image ,size: "300x200", fallback: "no_image.jpg" %>
  </div>

  <div class="col-lg-6">
  <h4><strong><%= @product.name %></strong></h4>
  <h5><%= @product.description %></h5>
  <h5>¥  <%= @product.add_tax_tax_out_price.to_s(:delimited) %>（税込）</h5>

  <% if @cart_item.errors.any? %>
  <%= @cart_item.count %>件のエラーが発生しました
  <% @cart_item.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <% end %>


  <%= form_with model:@cart_item ,url: cart_items_create_path, local:true do |f| %>
　 <%= f.select :quantity, options_for_select((1..10).to_a), include_blank: "個数選択" %>

  <%= f.submit 'カートに入れる',class: 'btn btn-success' %>
  <%= f.hidden_field :product_id,  :value => @product.id %>
  <% end %>
  </div>


 </div>
</div>


