<style>
  .right{
    margin-left:auto
  }
</style>
<div class='container'>
  <h3 style="background-color:#DCDCDC; display: inline;">商品一覧</h3>
  <div class='row'>
      <div class="right">
        <%=link_to admin_products_new_path, class: "btn btn-outline-secondary new_product" do %>
        <i class="fas fa-plus"></i>
        <% end %>
      </div>
    <table class="table striped">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td class="text-left" ><%= product.id %></td>
            <td class="text-left"><%= link_to product.name, admin_product_path(product) , class: "product_#{product.id}" %></td>
            <td class = "text-left"><%= product.tax_out_price %></td>
            <td class = "text-left"><%= product.genre.name%></td>
            <td class = "text-left">
            <% if product.sales_status == true %>
               <strong class="text-success">販売中</strong>
            <% else product.sales_status == false %>
               <strong style="text-secondary">販売停止中</strong>
            <% end %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
    <%= paginate @products %>
</div>


