<!DOCTYPE html>
<html>
  <head>
    <title>ながのCAKE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expend-lg navbar-light" >
       <div class="container">

         <div class="navbar-brand">
          <%= link_to root_path do %>
            <span class="text-dark">LOGO</span>
          <% end %>
        </div>

        <ul class="list-group-horizontal navbar-nav ml-auto">

    <!--管理者がログインしている場合-->
    <% if admin_signed_in? %>

      <div class="row align-items-center">
        <nav-item>
          <%= link_to admin_products_path do %>
            <li class="text-light nav-link">
              <button type="button" class="btn text-dark page-link ">商品一覧</button>
            </li>
          <% end %>
        </nav-item>

        <nav-item>
          <%= link_to admin_customers_path do %>
            <li class="text-light nav-link">
              <button type="button" class="btn text-dark page-link ">会員一覧</button>
            </li>
          <% end %>
        </nav-item>

        <nav-item>
          <%= link_to admin_top_path do %>
            <li class="text-light nav-link">
              <button type="button" class="btn text-dark page-link ">注文商品一覧</button>
            </li>
          <% end %>
        </nav-item>

        <nav-item>
          <%= link_to admin_genres_path do %>
            <li class="text-light nav-link">
             <button type="button" class="btn text-dark page-link ">ジャンル一覧</button>
            </li>
          <% end %>
        </nav-item>

        <nav-item>
          <%= link_to destroy_admin_session_path, method: :delete do %>
            <li class="text-light nav-link">
             <button type="button" class="btn text-dark page-link ">ログアウト</button>
            </li>
          <% end %>
        </nav-item>
      </div>

    <!--ユーザーがログインしている場合-->
    <% elsif customer_signed_in? %>

      <div class="row align-items-center">
        <nav-item>
            <li>
              <p class="text-muted mb-0">ようこそ、<%= current_customer.first_name %>さん！</p>
            </li>
        </nav-item>

        <nav-item>
          <%= link_to customers_path do %>
            <li class="text-light nav-link">
              <button type="button" class="btn text-dark page-link ">マイページ</button>
            </li>
          <% end %>
        </nav-item>

        <nav-item>
          <%= link_to products_path do %>
            <li class="text-light nav-link">
              <button type="button" class="btn text-dark page-link ">商品一覧</button>
            </li>
          <% end %>
        </nav-item>

        <nav-item>
          <%= link_to cart_items_path do %>
            <li class="text-light nav-link">
              <button type="button" class="btn text-dark page-link ">カート</button>
            </li>
          <% end %>
        </nav-item>

        <nav-item>
          <%= link_to destroy_customer_session_path, method: :delete do %>
            <li class="text-light nav-link">
              <button type="button" class="btn text-dark page-link ">ログアウト</button>
            </li>
          <% end %>
        </nav-item>
      </div>

    <!--いずれもログインしていない場合-->
    <% else %>

      <div class="row align-items-center">
        <nav-item>
          <%= link_to about_path do %>
            <li class="text-light nav-link">
              <button type="button" class="btn text-dark page-link ">About</button>
            </li>
          <% end %>
        </nav-item>

        <nav-item>
          <%= link_to products_path do %>
            <li class="text-light nav-link">
              <button type="button" class="btn text-dark page-link ">商品一覧</button>
            </li>
          <% end %>
        </nav-item>

        <nav-item>
          <%= link_to new_customer_registration_path do %>
            <li class="text-light nav-link">
              <button type="button" class="btn text-dark page-link ">新規登録</button>
            </li>
          <% end %>
        </nav-item>

        <nav-item>
          <%= link_to new_customer_session_path do %>
            <li class="text-light nav-link">
              <button type="button" class="btn text-dark page-link ">ログイン</button>
            </li>
          <% end %>
        </nav-item>
      </div>

    <% end %>
    </ul>
   </div>
  </nav>
  <div class="border border-bottom"></div>
 </header>
<main>
　　
      <%= yield %>
   
      
    </main>

    <footer>
     <div class="border border-bottom"></div>
    </footer>
  </body>
</html>
