<!DOCTYPE html>
<html>
  <head>
    <title>ながのCAKE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

          <!--管理者がログインしている場合-->
          <% if admin_signed_in? %>

              <div class="navbar-brand col-2">
                <%= link_to admin_top_path do %>
                  <span class="text-black">LOGO</span>
                <% end %>
              </div>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="navbar-collapse collapse" id="navbarNavDropdown" style="">
                <ul class="navbar-expand-lg navbar-nav ml-auto nav-link">

                  <div class="text-right">              
      
                    <nav-item>
                      <%= link_to admin_products_path do %>
                        <li class="fas fa-book-open text-light nav-link">
                          <span class="text-black">商品一覧</span>
                        </i>
                      <% end %>
                    </nav-item>
      
                    <nav-item>
                      <%= link_to admin_customers_path do %>
                        <li class="fas fa-book-open text-light nav-link">
                          <span class="text-black">会員一覧</span>
                        </i>
                      <% end %>
                    </nav-item>
      
                    <nav-item>
                      <%= link_to admin_top_path do %>
                        <li class="fas fa-book-open text-light nav-link">
                          <span class="text-black">注文履歴一覧</span>
                        </i>
                      <% end %>
                    </nav-item>
      
                    <nav-item>
                      <%= link_to admin_genres_path do %>
                        <li class="fas fa-book-open text-light nav-link">
                          <span class="text-black">ジャンル一覧</span>
                        </i>
                      <% end %>
                    </nav-item>
      
                    <nav-item>
                      <%= link_to destroy_admin_session_path, method: :delete do %>
                        <li class="fas fa-sign-out-alt text-light nav-link">
                          <span class="text-black">logout</span>
                        </i>
                      <% end %>
                    </nav-item>
      
                <!--ユーザーがログインしている場合-->
                <% elsif customer_signed_in? %>
      
                    <div class="navbar-brand col-2">
                      <%= link_to root_path do %>
                        <span class="text-black">LOGO</span>
                      <% end %>
                    </div>
      
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
      
                    <nav-item>
                      <%= link_to customers_path do %>
                        <li class="fas fa-sign-out-alt text-light nav-link">
                          <span class="text-black">マイページ</span>
                        </i>
                      <% end %>
                    </nav-item>
      
                    <nav-item>
                      <%= link_to products_path do %>
                        <li class="fas fa-sign-out-alt text-light nav-link">
                          <span class="text-black">商品一覧</span>
                        </i>
                      <% end %>
                    </nav-item>
      
                    <nav-item>
                      <%= link_to cart_items_path do %>
                        <li class="fas fa-sign-out-alt text-light nav-link">
                          <span class="text-black">カート</span>
                        </i>
                      <% end %>
                    </nav-item>
      
                    <nav-item>
                      <%= link_to destroy_customer_session_path, method: :delete do %>
                        <li class="fas fa-sign-out-alt text-light nav-link">
                          <span class="text-black">logout</span>
                        </i>
                      <% end %>
                    </nav-item>
      
                <!--いずれもログインしていない場合-->
                <% else %>
      
                    <div class="navbar-brand col-2">
                      <%= link_to root_path do %>
                        <span class="text-black">LOGO</span>
                      <% end %>
                    </div>
      
                    <nav-item>
                      <%= link_to about_path do %>
                        <li class="fas fa-book-open text-light nav-link">
                          <span class="text-black">About</span>
                        </i>
                      <% end %>
                    </nav-item>
      
                    <nav-item>
                      <%= link_to products_path do %>
                        <li class="fas fa-book-open text-light nav-link">
                          <span class="text-black">商品一覧</span>
                        </i>
                      <% end %>
                    </nav-item>
      
                    <nav-item>
                      <%= link_to new_customer_registration_path do %>
                        <li class="fas fa-sign-out-alt text-light nav-link">
                          <span class="text-black">新規登録</span>
                        </i>
                      <% end %>
                    </nav-item>
      
                    <nav-item>
                      <%= link_to new_customer_session_path do %>
                        <li class="fas fa-sign-out-alt text-light nav-link">
                          <span class="text-black">ログイン</span>
                        </i>
                      <% end %>
                    </nav-item>

          <% end %>

        </div>
      </nav>

  </header>

      <%= yield %>

    <footer>
    </footer>
  </body>
</html>
